*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  gap: 30px;
  display: flex;
  padding: 50px 40px 0 30px;
  min-height: 534px;
}

.result__video-container {
  position: relative;
  padding: 78px 0 16px 0;
}

.result__video {
  position: static;
  width: 100%;
  min-height: 386px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  width: 711px;
  height: 54px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search-form__textfield {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-right: none;
  border-left: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  flex: none;
  order: 1;
  color: #fff;
  background: transparent;
  flex-grow: 0;
}

.search-form__checkbox {
  position: static;
  width: 19px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: transparent;
  margin: 5px 5px;
}

.search-form__submit-button {
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: #fff;
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 6px 73px;
}

.more-button {
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: #fff;
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 6px 73px;
}
.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
  background: #545050;
  text-decoration: none;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__label {
  display: flex;
  gap: 2px;
}

.search-form__label:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:focus {
  outline: 1px;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.content__details {
  flex-grow: 1;
}

.content__list-item:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item:focus {
  outline: 1px;
}
.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  padding: 3px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  min-height: 103px;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
